.gcloudignore
.git
.gitignore
.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/htmlcov
**/.venv
**/venv
**/env
**/node_modules
**/.next
**/out
**/build
*.log
sa-key.json
firebase-debug.log
